.login-area{
    height: 100vh;
    min-height: 1px;
    text-align: center;
}

.login-form{

}

.login-form > .login, .login-form > .password{
    margin: 10px;
}

.login-form > .ng-touched.ng-invalid-required{
    border-color: red;
}

.login-form > .ng-valid{
    border-color: #00d100;
}

@media (max-device-width: 992px) {

}

@media (max-width: 992px) {


}