.order-type-container{
    text-align: center;
}

.order-type-button{
    display: inline-block;
    width: 32%;
    height: 50px;
    background-color: #ea5867;
}

.order-type-button > a {
    display: block;
    height: 100%;
}

.selected-state{
    background-color: #6d7bbb;
}

@media (max-device-width: 992px) {
    .order-type-button{
        height: 100px;
    }
}