<div class="uploader-panel">
    <form name="fileForm" action="">
        <div class="input-block" layout="row">
            <md-button flex="100" ng-click="clickSelectFileButton($event)">
                <md-icon class="upload-icon">
                    <i class="material-icons">note_add</i>
                </md-icon>
                Select File
            </md-button>
            <input type="file" name="selectedFile" ng-model="uploadObject.file"
                   onchange="angular.element(this).scope().selectFile(this)">
            <span class="SelectedfileName md-body-1" flex="100" ng-bind="uploadObject.file.name"></span>
        </div>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea name="comment" ng-model="uploadObject.file.comment" md-maxlength="50" rows="2" md-select-on-focus></textarea>
        </md-input-container>
        <div layout="column" layout-align="center end">
            <md-progress-circular md-mode="determinate" class="upload-rogress hidden-element" value="{{progressPercentage}}"></md-progress-circular>
            <md-button flex="100" ng-click="uploadFile($event)">
                <md-icon class="upload-icon">
                    <i class="material-icons">file_upload</i>
                </md-icon>
                Upload
            </md-button>
        </div>
    </form>
    <md-divider ng-if="!$last"></md-divider>

    <div class="files-list">
        <div ng-repeat="object in uploadedObjects">
            <div class="fileRow md-subhead" layout="row">
                <span class="fileName md-body-1" flex="70" ng-bind="object.file.name"
                      msd-wheel="horizontalScroll($event, $delta, $deltaX, $deltaY)"></span>
                <span class="fileComment md-body-1" ng-bind="object.comment">Some comment</span>
                <span class="fileDate md-body-1" ng-bind="object.date">10.10.2010</span>
                <md-button layout-align="center center" ng-click="removeFile($event)" value="{{object.file.name}}">
                    <md-icon class="delete-icon">
                        <i class="material-icons">clear</i>
                    </md-icon>
                </md-button>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </div>

    <!--<div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>-->
</div>