.chat-area{
    padding: 5%;
    width: 100%;
    height: 100%;
    /*float: right;*/
    position: relative;
}

.messages{
    background-color: #6d7bbb;
    position: absolute;
    width: 90%;
    top: 60px;
    bottom: 200px;
    overflow-x: hidden;
}

.message{
    position: relative;
    margin-bottom: 5px;
}

.message > .content{
    display: inline-block;
    text-align: left;
    max-width: 80%;
    min-width: 20%;
    word-wrap: break-word;
}

.sender{
    display: inline-block;
}

.from-me {
    text-align: right;
}

.from-me > .content{
    background-color: #5cb85c;
}

.from-interlocutor > .content{
    background-color: #d4d1ce;
}

.message-date{
    display: inline-block;
}

.message-text{
    margin-top: 5px;
}

.input-area{
    position: absolute;
    width: 90%;
    bottom: 80px;
}

.input-area > textarea{
    width: 100%;
    margin-top: 5px;
}

.input-area > input{
    float: right;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: #e5dce9;
}
.custom-scrollbar::-webkit-scrollbar{
    width: 3px;
}

.chat-header{
    position: absolute;
    width: 90%;
    top: 10px;
    height: 50px;
    background-color: #21D8AE;
}

.interlocutor-image{
    width: 40px;
    height: 40px;
    margin: 5px;
    float: right;
    background-color: azure;
}

.my-image{
    float: left;
}

.interlocutor-name{
    float: right;
    margin-top: 5px;
}

.my-name{
    float: left;
}

.conversation-sign{
    height: 30px;
    position: absolute;
    left: 42%;
    right: 45%;
}

.conversation-sign > img{
    height: inherit;
}

.list-panel{
    overflow-x: hidden;
    position: absolute;
    width: 90%;
    top: 10px;
    bottom: 100%;
    background-color: #3cd826;

    transition: bottom 0.5s ease-out 0.2s, top 0.5s;
}

.list-panel-open{
    bottom: 80px;
    top: 60px;
}

.contact{
    display: block;
    background-color: #1b6d85;
    margin: 2px;
    position: relative;
    height: 60px;
}

.contact-image{
    height: 100%;
    width: 40px;
    float: left;
}

.contact-image{
    float: left;
}

.contact-image{
    float: left;
}



@media (max-device-width: 992px) {
    .order-type-button{
        height: 100px;
    }

    .conversation-sign{
        left: 45%;
    }
}

@media (max-width: 992px) {

    .conversation-sign{
        left: 45%;
    }
}