.navig-mian {
    position: relative;
    background-color: #09295A;
    min-height: 80px;
    height: 1px;
}

.navig-button-container {
    text-align: center;
    background-color: #00b3ee;
    height: 100%;
    margin-left: 80px;
    display: none;
}

.navig-label {
    float: left;
    margin: 5px;
    min-width: 70px;
    min-height: 70px;
    background-color: black;
}

.navig-button {
    display: inline-block;
    height: 100%;
    width: 49%;
    background-color: #cccccc;
}

@media (max-width: 992px) {
    .navig-button-container{
        display: block;
    }
}