.navig-main {
    position: relative;
    background-color: #09295A;
    min-height: 80px;
    height: 1px;
    text-align: center;
}

.navig-button-container {
    text-align: center;
    height: 100%;
    margin-left: 80px;
    display: none;
}

.navig-label {
    min-height: 80px;
    background-color: #000;
    display: inline-block;
    height: 93%;
}

#label-full-name{
    display: block;
}
#label-short-name{
    display: none;
}

.navig-button {
    display: inline-block;
    height: 100%;
    width: 49%;
    background-color: #cccccc;
    text-align: center;
}

.navig-button > a, .navig-label > a, span{
    display: block;
    font-size: 36px;
    height: 100%;
    padding-top: 15px;
}

.tools-container {
    display: none;
    background-color: black;
    width: 80px;
    padding: 0px;
}

.tool{
    display: block;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: #761c19;
}

.tool > a {
    display: block;
    height: 100%;
}

@media (max-width: 992px) {
    .navig-button-container{
        display: block;
    }
    .navig-label{
        float: left;
        min-width: 80px;
    }
    #label-full-name{
        display: none;
    }
    #label-short-name{
        display: block;
    }
    .tool {
        width: 70px;
        height: 70px;
    }
}

@media (max-device-width: 992px) {
    .navig-button-container{
        display: block;
        margin-left: 150px;
    }
    .navig-label{
        min-width: 150px;
        min-height: 150px;
        float: left;
    }
    .navig-mian {
        min-height: 150px;
    }
    #label-full-name{
        display: none;
    }
    #label-short-name{
        display: block;
    }
    .tool {
        width: 70px;
        height: 70px;
    }
}