.test-nav-header{
    background-color: #3F51B5;
    min-height: 70px;
    padding: 0;
}

.test-nav-header > button{
    margin: 0;
}

.test-dynamic-content{
    background-color: #48b488;
    max-height: 80vh;
    min-height: 80vh;
}

.test-toolbar, md-menu-item{
    width: 220px;
    /*overflow: hidden;*/
}

md-content{
    width: 220px;
    overflow-x: hidden;
}

.test-middle-frame{
    background-color: #DCDCDC;
}

.test-chat-frame{
    background-color: #52b44e;
    width: 400px;
}

.test-footer{
    background-color: #6db7ee;
    min-height: 15vh;
}

.test-selected-tool{
    background-color: #B9B9B9;
    opacity: 0.5;
}

.md-theme-indigo{
    height: 70px;
}

.label-name{
    font-size: 36px;
    height: 70px;
}

.nav-name{
    color: #3F51B5;
}

@media (min-width: 960px){
    .label-name > span {
        display: inline;
        float: right;
    }
}