.main-frame{
    background-color: #3c763d;
    height: 100vh;
    padding: 1px;
    min-height: 400px;
}

.dynamic-frame{
    height: 98%;
    margin: 5px 350px 5px 80px;
    background-color: #ccc;
    min-width: 543px;
    overflow-x: hidden;
}
.chat-frame{
    height: 98%;
    width: 340px;
    background-color: #bbba89;
    margin: 5px;
    float: right;
}

@media (max-width: 992px) {
    .chat-frame{
        display: none;
    }

    .dynamic-frame{
        margin: 5px;
    }
}
