<div class="main-frame">
    <div class="toolbar custom-scrollbar">
        <li class="tool"><a href="#" ng-click="selectInToolbar()">Tool_1</a></li>
        <li class="tool"><a href="#" ng-click="selectInToolbar()">Tool_2</a></li>
        <li class="tool"><a href="#" ng-click="selectInToolbar()">Tool_3</a></li>
        <li class="tool"><a href="#" ng-click="selectInToolbar()">Tool_4</a></li>
        <li class="tool"><a href="#" ng-click="selectInToolbar()">Tool_5</a></li>
        <li class="tool"><a href="#" ng-click="selectInToolbar()">Tool_6</a></li>
        <li class="tool"><a href="#" ng-click="selectInToolbar()">Tool_7</a></li>
        <li class="tool"><a href="#" ng-click="selectInToolbar()">Tool_8</a></li>
    </div>
    <div class="chat-frame"><chat></chat></div>
    <div class="orders-frame " ng-transclude></div>
    <!--custom-scrollbar-->
</div>